* {
    background-color:rgb(145, 174, 220);
    font-family: "Ubuntu", sans-serif
}
.body {
    background-image: url(img/Travel.jpg);
    height: auto;
    width: auto;
    padding: 250px;
    text-align: center;
    font-size: 80px;
    color:white
}

.iceland {
    background-color: rgb(104, 142, 255);
    width: 80vw;
    padding: 10px;
    text-align: center;
    font-size: 45px;
    margin: 100px auto;
    border-radius: 25px 
}

.wales {
    background-color: rgb(104, 142, 255);
    width: 80vw;
    padding: 10px;
    text-align: center;
    font-size: 45px;
    margin: 100px auto;
    border-radius: 25px
}

.zimbabwe {
    background-color: rgb(104, 142, 255);
    width: 80vw;
    padding: 10px;
    text-align: center;
    font-size: 45px;
    margin: 100px auto;
    border-radius: 25px
}

#i {
    padding: 0px 50px;
}

#w {
    padding: 0px 50px;
}

#z {
    padding: 0px 50px;
}
   