* {
    background-color:rgb(145, 174, 220)
}
.body {
    background-image: url(img/Vacation.jpg);
    height: 5vw;
    width: auto;
    padding: 250px;
    text-align: center;
    font-size: 90px;
    color:white
}

.iceland {
    background-color: rgb(104, 142, 255);
    width: 80vw;
    height: 50vw;
    padding: 70px;
    text-align: center;
    font-size: 45px;
    margin: 100px auto;
    border-radius: 25px 
}

.wales {
    background-color: rgb(104, 142, 255);
    width: 80vw;
    height: 50vw;
    padding: 70px;
    text-align: center;
    font-size: 45px;
    margin: 100px auto;
    border-radius: 25px
}

.zimbabwe {
    background-color: rgb(104, 142, 255);
    width: 80vw;
    height: 50vw;
    padding: 70px;
    text-align: center;
    font-size: 45px;
    margin: 100px auto;
    border-radius: 25px
}

.iceland2 {
    width: 30vw;
    margin: 0 auto;
    padding: 25px
  }
   